/RooAddon/.settings
/RooAddon/.classpath
/RooAddon/.project
/RooAddon/target
/ODataMetadataRetriever/.settings
/ODataMetadataRetriever/.classpath
/ODataMetadataRetriever/.project
/ODataMetadataRetriever/target